<!-- informacion -->
<div class="container mt-3" *ngIf="loader">
    <div class="row">
        <div class="col-md-12 text-center fade-in fast">
            <div class="card border-success mb-3">
                <div class="card-body">
                    <h4 class="card-title">Obteniendo datos</h4>
                    <div class="fa-5x">
                        <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sin resultados -->
<div class="container mt-3" *ngIf="sinResultados">
    <div class="row">
        <div class="col-md-12 text-center fade-in fast">
            <div class="card border-warning mb-3">
                <div class="card-body">
                    <h3 class="mensaje"> No se encontraron resultados </h3>
                    <div class="fa-5x">
                        <fa-icon [icon]="['fas', 'poll']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- error -->
<div *ngIf="!loader">
    <div [ngSwitch]="httpErrorCode">
        <div *ngSwitchCase="404">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 text-center fade-in fast">
                        <div class="card border-danger mb-3">
                            <div class="card-body">
                                <div class="fa-5x">
                                    <fa-icon [icon]="['fas', 'star-half-alt']"></fa-icon>
                                </div>
                                <h4 class="card-title">{{ httpErrorMessage }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="0">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 text-center fade-in fast">
                        <div class="card border-danger mb-3">
                            <div class="card-body">
                                <div class="fa-5x">
                                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                                </div>
                                <h4 class="card-title">{{ httpErrorMessage }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="500">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12 text-center fade-in fast">
                        <div class="card border-danger mb-3">
                            <div class="card-body">
                                <div class="fa-5x">
                                    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
                                </div>
                                <h4 class="card-title">{{ httpErrorMessage }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>