<!-- <div class="container h-100" *ngIf="loader">
  <div class="row h-100">
    <div class="col-md-12 text-center fade-in fast">
      <div class="alert alert-dismissible alert-primary">
        <h3 class="mensaje">
          Obteniendo datos
        </h3>
        <div class="fa-5x">
          <i class="fas fa-circle-notch fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- informacion -->
<div class="container" *ngIf="loader && !hayError">
  <div class="row">
    <div class="col-md-12 text-center fade-in fast">
      <div class="card border-success mb-3">
        <div class="card-body">
          <h4 class="card-title">Obteniendo datos</h4>
          <div class="fa-5x">
            <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- sin resultados -->
<div class="container" *ngIf="sinResultados">
  <div class="row">
    <div class="col-md-12 text-center fade-in fast">
      <div class="card border-warning mb-3">
        <div class="card-body">
          <h3 class="mensaje"> No hay resultados </h3>
          <div class="fa-5x">
            <fa-icon [icon]="['fas', 'poll']"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- error -->
<div class="container" *ngIf="hayError">
  <div class="row">
    <div class="col-md-12 text-center fade-in fast">
      <div class="card border-danger mb-3">
        <div class="card-body">
          <div class="fa-5x">
            <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
          </div>
          <h4 class="card-title">{{ errorMensaje }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>