<div class="container producto">
    <div class="row">
        <div class="col-md-12 fade-in" *ngIf="producto">
            <div class="jumbotron">
                <div [formGroup]="formulario" (ngSubmit)="updateProducto()">
                    <fieldset>
                        <h2><strong>DETALLE </strong> Detalle del producto</h2>
                        <div class="alert alert-dismissible alert-primary">
                            <h1 class="display-4 nombre elipsis-titulo"><fa-icon [icon]="['fas', 'paperclip']"></fa-icon> {{ producto.titulo | uppercase }}</h1>
                        </div>
                        <span class="badge badge-success categoria"><h4 class="elipsis-categoria"><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Categoría {{ producto.categoria }}</h4></span>
                        <hr class="my-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off"
                                   aria-describedby="nombre" placeholder="Nombre"
                                   formControlName="tituloProducto" value="{{ producto.titulo | lowercase }}"
                                   [ngClass]="{ 'is-valid' : tituloProductoControl.status === 'VALID',
                                                'is-invalid' : tituloProductoControl.touched && tituloProductoControl.status === 'INVALID' }"
                                    (keyup.enter)="updateProducto()">
                            <div *ngIf="tituloProductoControl.errors?.required" class="invalid-feedback">El título del producto es requerido</div>
                            <div *ngIf="tituloProductoControl.errors?.minlength" class="invalid-feedback">Debe ingresar al menos {{ tituloProductoControl.errors?.minlength?.requiredLength }} carateres</div>
                            <div *ngIf="tituloProductoControl.errors?.maxlength" class="invalid-feedback">Puedes ingresar un máximo de {{ tituloProductoControl.errors?.maxlength?.requiredLength }} carateres</div>
                            <div *ngIf="tituloProductoControl.errors?.pattern?.requiredPattern" class="invalid-feedback">No es valido el ingreso de "caracteres especiales" en el Título del producto</div>
                        </div>
                        <div class="col col-md-12 p-1">
                            <div class="form-group">
                                <button type="button" class="btn btn-info regresar control" (click)="goBack()">
                                    <fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon>
                                    Regresar
                                </button>
                                <button type="button" class="btn btn-success regresar control" (click)="updateProducto()"
                                        [disabled]="formulario.invalid">
                                        <fa-icon [icon]="['fas', 'check-circle']"></fa-icon>
                                    Guardar
                                </button>
                                <button type="button" class="btn btn-danger regresar control" (click)="deleteProductoPorId(producto.id)">
                                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loader [loader-param]="loader" 
            [httpErrorMessage]="httpErrorMessage"
            [httpErrorCode]="httpErrorCode"></app-loader>