<div class="container fade-in">
  <div class="row">
    <div class="col-md-12">
      <!-- <form [formGroup]="formulario" (ngSubmit)="createProducto()" class="jumbotron"> -->
        <!-- (keydown.enter)="$event.preventDefault()" class="jumbotron"> -->
      <div [formGroup]="formulario" (ngSubmit)="createProducto()" class="jumbotron pb-3">
        <fieldset>
          <h2><strong>NUEVO </strong> Agregar nuevo producto</h2>
          <h3><fa-icon [icon]="['fas', 'font']"></fa-icon> Titulo</h3>
          <div class="form-group">
            <input type="text" class="form-control" id="tituloProducto" name="tituloProducto" placeholder="Titulo del producto" autocomplete="off" 
                   formControlName="tituloProducto"
                   [ngClass]="{ 'is-valid' : tituloProductoControl.status === 'VALID',
                                'is-invalid' : tituloProductoControl.touched && tituloProductoControl.status === 'INVALID' }"
                   (keyup.enter)="createProducto()">
            <div *ngIf="tituloProductoControl.errors?.required" class="invalid-feedback">El título del producto es requerido</div>
            <div *ngIf="tituloProductoControl.errors?.minlength" class="invalid-feedback">Debe ingresar al menos {{ tituloProductoControl.errors?.minlength?.requiredLength }} carateres</div>
            <div *ngIf="tituloProductoControl.errors?.maxlength" class="invalid-feedback">Puedes ingresar un máximo de {{ tituloProductoControl.errors?.maxlength?.requiredLength }} carateres</div>
            <div *ngIf="tituloProductoControl.errors?.pattern?.requiredPattern" class="invalid-feedback">No es valido el ingreso de "caracteres especiales" en el Título del producto</div>
          </div>
          <h3><fa-icon [icon]="['fas', 'info-circle']"></fa-icon> Categoría</h3>
          <div class="form-group">
            <input type="text" class="form-control" id="categoriaProducto" name="categoriaProducto" placeholder="Categoría del producto" autocomplete="off"
                   formControlName="categoriaProducto"
                   [ngClass]="{ 'is-valid' : categoriaProductoControl.status === 'VALID',
                                'is-invalid' : categoriaProductoControl.touched && categoriaProductoControl.status === 'INVALID' }"
                   (keyup.enter)="createProducto()">
            <div *ngIf="categoriaProductoControl.errors?.required" class="invalid-feedback">La categoría del producto es requerida</div>
            <div *ngIf="categoriaProductoControl.errors?.minlength" class="invalid-feedback">Debe ingresar al menos {{ categoriaProductoControl.errors.minlength.requiredLength }} carateres</div>
            <div *ngIf="categoriaProductoControl.errors?.maxlength" class="invalid-feedback">Puedes ingresar un máximo de {{ categoriaProductoControl.errors.maxlength.requiredLength }} carateres</div>
            <div *ngIf="categoriaProductoControl.errors?.pattern?.requiredPattern" class="invalid-feedback">No es valido el ingreso de "caracteres especiales" en la Categoría del producto</div>
          </div>
          <div class="col col-md-12 p-1">
            <div class="form-group">
              <button class="btn btn-info control" (click)="goBack()"><fa-icon [icon]="['fas', 'arrow-circle-left']"></fa-icon> Regresar</button>
              <button class="btn btn-secondary control" (click)="resetForm()"><fa-icon [icon]="['fas', 'backspace']"></fa-icon> Limpiar</button>
              <button class="btn btn-success control"
                      [disabled]="formulario.invalid"
                      (click)="createProducto()">
                      <fa-icon [icon]="['fas', 'check-circle']"></fa-icon> Agregar
              </button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>